body{
    background-color: rgb(235, 250, 255);
}
div{
    padding:5px 5px;
}
a{
    text-decoration: none;
    font-style: oblique;
    color: rgb(0, 0, 184);
}
p{
    font-weight:500;
    font-family: serif;
}
nav{
    font-size: larger;
}
ul{
    list-style-type:square;
}
#statement{
    padding: 10px 5px;
    text-align: center;
    font-style: italic;
}
.navbar{
    height:12vh;
    background-color: rgb(0, 94, 153);
    align-items: center;
    display: flex;
}
#logo img{
    height: 10vh;
    margin: 0 5px;
}
.banner{
    height:50vh;
    margin: 10px 20px;
    background-image: url(./media/banner.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.table{
    border: black, 5px;
    border-style: groove;
    width: 50%;
}
th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2;}
#pic{
    display:flex;
}
.headline marquee{
    color: darkslategray;
    font:status-bar;
    font-size: 30px;
    width:100%;
    height:auto;
    direction:rtl;
    background-color: rgb(21, 174, 194);
}
.understanding ul,li{
    margin:10px 0;
}

