body{
    background-color: rgb(123, 207, 255);
}
#statement{
    padding: 10px 5px;
    text-align: center;
}
#logo img{
    height: 8vh;
}
.banner{
    height:50vh;
    background-image: url(./media/banner.jpg);
}