body{
    background-color: rgb(235, 250, 255);
}
div{
    padding:5px 5px;
}
a{
    text-decoration: none;
    font-style: oblique;
    color: rgb(0, 0, 184);
}
#statement{
    padding: 10px 5px;
    text-align: center;
    font-style: italic;
}
.navbar{
    height:10vh;
    background-color: rgb(0, 94, 153);
    align-items: center;
    display: flex;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:white;
}
#logo img{
    height: 8vh;
    margin: 0 5px;
}
.banner{
    height:50vh;
    margin: 10px 20px;
    background-image: url(./media/banner.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.table{
    border: black, 5px;
    border-style: groove;
    width: 50%;
}
th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2;}